@page
@model eticaret.Pages.Cart.IndexModel
@{
    ViewData["Title"] = "Sepet";
}

<main>
    <h2>Sepet</h2>
    @if (Model.CartItems != null && Model.CartItems.Any())
    {
        <table>
            <thead>
                <tr>
                    <th>Ürün Resmi</th>
                    <th>Ürün Adı</th>
                    <th>Fiyat</th>
                    <th>Miktar</th>
                    <th>Toplam Fiyat</th>
                    <th>İşlem</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CartItems)
                {
                    <tr>
                        <td>
                            
                            <img src="@item.Product.ImageUrl" alt="@item.Product.Name" width="50" height="50" />
                        </td>
                        <td>@item.Product.Name</td>
                        <td>@(item.Product.Price.ToString("C", new System.Globalization.CultureInfo("tr-TR")))</td> 
                        <td>@item.Quantity</td> 
                        <td>@((item.Quantity * item.Product.Price).ToString("C", new System.Globalization.CultureInfo("tr-TR")))</td> 
                        <td>
                            <form method="post" asp-page-handler="RemoveFromCart">
                                <input type="hidden" name="productId" value="@item.ProductId" />
                                <button type="submit">Kaldır</button>
                            </form>
                        </td>
                    </tr>
                }
                
                <tr>
                    <td colspan="4" style="text-align:right"><strong>Toplam Fiyat:</strong></td>
                    <td><strong>@(Model.TotalPrice.ToString("C", new System.Globalization.CultureInfo("tr-TR")))</strong></td> 
                </tr>
            </tbody>
        </table>
       
        <form method="post" asp-page-handler="Purchase">
            <button type="submit">Sepeti Satın Al</button>
        </form>

    }
    else
    {
        <p>Sepetiniz boş.</p>
    }

    <a href="/">Alışverişe Devam Et</a>
    
    
</main>
